.tours-fluid-container{
   /* background-color: #ecf0f5; */
   background: #f0f0f0;
}
.tours-container{
   width: 1170px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   
}
.tour-introduction{
   background: rgb(247, 172, 172) !important;
}
.gly-map-marker{
   position: relative;
   bottom: 28px;
   display: flex;
   justify-content: center;
   min-width: 99px;
   height: 28px;
   background: rgba(0,70,126,0.8);
   color: white;
}
.name-tour{
   position: relative;
   bottom: 20px;
   display: flex;
   justify-content: center;
   color: #003C71;
   font-weight: bold;
   font-size: 16px;

}
.hover-see-more{
   background: white;
   border: 1px solid white;
   opacity: 0.7;
}
.hover-see-more:hover{
   cursor: pointer;
   opacity: 1 !important;
   color: #003C71;
}
.show-tours{
   display: flex !important;
   justify-content: space-between;
   border-bottom: 2px solid #003C71;
   
}
.show-tours h3{
   font-size: 33px;
   color: #003C71;
}
.show-tours span{
   color: #003C71;
   font-size: 18px;
   padding-top: 30px;
   cursor: pointer;
}
.tour-bottom{
   padding-bottom: 20px;
}
.see-more{
   display: flex !important;
   justify-content: center;
   margin-bottom: 20px;
}