.sidebar-admin-list{
   padding: 10px;
   font-weight: 700;
   font-size: 20px;
}
.sidebar-admin-list:hover{
   background-color: rgb(45, 45, 48);
   color: white;
   padding-left: 20px;
   transition: .3s;
}